#passengers-form {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 20px;
  box-shadow: -1px 1px 2px rgb(129, 129, 129);
  margin: 100px auto;
  width: 75%;
  max-width: 850px;
  font-family: Montserrat, sans-serif;
  text-align: left;
}

#register-form > div > .MuiFormControl-root, #register-form > .MuiFormControl-root  {
  width: 100%;
  height: 40px;
  
}


#register-form > div:nth-child(7) > div >div::before {
  padding: 0rem;
}


#register-form > div > .MuiFormControl-root {
  box-shadow: 0 !important;
}



#container-register-form form {
  width: 100%;
}


 .birthday{
   width: 300px;
 }
 #register-button {
  grid-column: span 8;
  grid-row: 4;
  background-color: #132C33;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  box-shadow: -1px 1px 2px rgb(129 129 129) !important;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.label,#standard-basic-nombre-label, #standard-basic-apellidos-label, #country-select-label{
  z-index: 9999 !important;
}
.MuiAutocomplete-paper, .MuiList-root, .MuiMenu-list, .MuiList-padding{
  z-index: 999999 !important;
  }

  .list-countries{
    z-index:99999 !important;
  }