#passengers-formd {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 20px;
  box-shadow: -1px 1px 2px rgb(129, 129, 129);
  margin: 100px auto;
  width: 75%;
  max-width: 850px;
  font-family: Montserrat, sans-serif;
  text-align: left;
}

#register-form > div > .MuiFormControl-root, #register-form > .MuiFormControl-root  {
  height: 40px;
}
.MuiFormControl-root{
  width: 300px;
}
.passengers-container{
  min-height: 400px;
  width: 500px;
  max-width: 600px !important;
  background-color: #ffffff;
  border-radius: 5px;
  border: 3px solid #132C33;
  position: absolute;
  z-index: 99999 !important;
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(255,255,255,1);
}

#register-form > div:nth-child(7) > div >div::before {
  padding: 0rem;
}


#register-form > div > .MuiFormControl-root {
  box-shadow: 0 !important;
}



#container-register-form form {
  width: 100%;
}


 .birthday{
   width: 300px;
 }
 #save-button {
  grid-column: span 8;
  grid-row: 4;
  background-color: #132C33;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  box-shadow: -1px 1px 2px rgb(129 129 129) !important;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.label,#standard-basic-nombre-label, #standard-basic-apellidos-label, #country-select-label, #standard-basic-number-document-label, #standard-basic-birthPlace-label, #standard-basic-type-document{
  z-index: 9999 !important;
}
.MuiAutocomplete-paper, .MuiList-root, .MuiMenu-list, .MuiList-padding{
  z-index: 999999 !important;
  }

  .list-countries{
    z-index:99999 !important;
  }

  .d-flex{
    display: flex !important;
    flex-direction: row !important;
  }
#edit-passenger{
  width: 300px !important;
}
